<div class="row">
    <div id="franjaDivisoria"></div>
    <footer>
        <h1>Proyectos</h1>
        <div class="container">
            <div>
                <h2>☺ web app</h2>
                <p id="descripcion-proyecto">Argentina Programa
                    <br>#yoProgramo 3ra Edición
                    <br>Proyecto Final
                    Integrador
                </p>
            </div>

            <div>
                <img src="../../../assets/proyecto-portfolio.png">
            </div>
        </div>
    </footer>
</div>