<div class="row">
    <div id="franjaDivisoria">
      <p></p>
    </div>
    <footer>
      <h1>Hard & Soft skills</h1>
         <circle-progress [percent]="90" [maxPercent]="100" [toFixed]="0" [radius]="60" [backgroundPadding]="5"
        [backgroundGradient]=false [backgroundOpacity]="1" [space]="5" [outerStrokeWidth]="5" [innerStrokeWidth]="5"
        outerStrokeLinecap=round [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#ffffff'" [animation]=true
        [animationDuration]="5000"></circle-progress>
    </footer>
  </div>
