<div class="row">
    <div id="icons">
        <button type="button" class="btn btn-outline-light" (click)="login()" id="boton"
                title="Usuario y Contraseña">Iniciar/Sesion</button>
        <a href="https://github.com/martinargen?tab=repositories" target="_blank"><img src="../../../assets/git.png"
                id="git" alt="git.png" title="github" id="img-git"></a>
        <a href="https://web.whatsapp.com/" target="_blank"><img src="../../../assets/whatsapp.png" id="whatsapp"
                alt="whatsapp.png" title="whatsapp-web" id="img-whatsapp"></a>
    </div>
</div>
